sound-team/vendor/assets/components/
sound-team/public/media/
sound-team/public/upload/

sound-team/sound-team/vendor/assets/components/
sound-team/sound-team/public/media/
sound-team/sound-team/public/upload/