<div id="helper-page">
  <ul>
    <li class="show">1 - Arraste a janela para tela que receberar a transmissão ao vivo</li>
    <li>2 - Aperte <span class="command">F11</span> ou maximize a janela</li>
    <li>3 - Na tela do sistema escolha o que deseja reproduzir</li>
  </ul>
</div>