<div class="actions-btns">
  <span class="btn<%= !defined?(size).nil? ? '-' + size : "" -%> btn-success add-in-timeline" data-id="<%= item.id -%>" title="Adicionar na timeline" data-toggle="tooltip"><i class="fa fa-plus"></i></span>
  <span class="btn<%= !defined?(size).nil? ? '-' + size : "" -%> btn-info share-now" data-id="<%= item.id -%>" title="Reproduzir agora" data-toggle="tooltip"><i class="fa fa-desktop"></i></span>
</div>
