<% title 'Media' %>

<div class="row media">
  <% @media.each do |item| %>    
    <div class="item item-<%= item.kind %> col-md-3 col-lg-3" data-media="<%= item.to_json %>">
      <div class="panel panel-plan">
          <div class="pad-all text-center">
            <%= render partial: item.kind, :locals => {item: item} %>
          </div>
      </div>
    </div>
  <% end %>
</div>