<div class="show-media col-md-12">
  <div class="pull-left col-md-3">
    <h1><%= @media.name %></h1>
    <%= screenshot_by_kind(@media) %>
  </div>
  <div class="pull-left  col-md-6">
    <span class="share btn"><i class="fa fa-share"></i> Share</span>
    <div class="media-info"></div>>
  </div>
  <div class="clear"></div>
  <div class="legend">
    <%= @media.legend %>
  </div>
</div>