<div class="timeline">
    <div class="timeline-item alt">
        <div class="text-right">
            <div class="time-show first">
                <a class="btn btn-primary">Hoje</a>
            </div>
        </div>
    </div>
    <div class="timeline-item alt">
        <div class="timeline-desk">
            <div class="panel">
                <div class="panel-body">
                    <span class="arrow-alt"></span>

                    <span class="timeline-icon red">
                        <i class="fa fa-check-square-o"></i>
                    </span>
                    <span class="timeline-date">09:25 am</span>
                    <h1 class="red">2 hour ago</h1>
                    <p>Lobortis orci ac, consequat erat. Ut feugiat, quam id tempus tempor, nunc est malesuada libero, ut semper magna libero quis eros. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="timeline-item ">
        <div class="timeline-desk">
            <div class="panel">
                <div class="panel-body">
                    <span class="arrow"></span>
                    <span class="timeline-icon green">
                        <i class="fa fa-comments"></i>
                    </span>
                    <span class="timeline-date">11:00 am</span>
                    <h1 class="green">4 hours ago</h1>
                    <p>semper magna libero quis eros.  <a href="#">Yuvraj</a> regarding the Product Promotion</p>
                </div>
            </div>
        </div>
    </div>
    <div class="timeline-item alt">
        <div class="timeline-desk">
            <div class="panel">
                <div class="panel-body">
                    <span class="arrow-alt"></span>
                    <span class="timeline-icon blue">
                        <i class="fa fa-tags"></i>
                    </span>
                    <span class="timeline-date">11:35 am</span>
                    <h1 class="blue">10 hours ago</h1>
                    <p>4 new photo Uploaded on facebook fan page</p>
                    <div class="album">
                        <a href="#">
                            <img src="images/tl-img-1.html" alt="">
                        </a>
                        <a href="#">
                            <img src="images/tl-img-2.html" alt="">
                        </a>
                        <a href="#">
                            <img src="images/tl-img-3.html" alt="">
                        </a>
                        <a href="#">
                            <img src="images/tl-img-4.html" alt="">
                        </a>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="timeline-item">
        <div class="timeline-desk">
            <div class="panel">
                <div class="panel-body">
                    <span class="arrow"></span>
                    <span class="timeline-icon purple">
                        <i class="fa fa-map-marker"></i>
                    </span>
                    <span class="timeline-date">3:20 pm</span>
                    <h1 class="purple">4:30</h1>
                    <p>Etiam et elit pellentesque, lobortis orci ac, consequat erat. Ut feugiat, quam id tempus tempor, nunc est malesuada libero, ut semper magna libero quis eros. </p>
                    <p>
                        <i class=" fa fa-exclamation-sign"></i> New task added for <span><a class="purple" href="#">Ranjan</a></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="timeline-item alt">
        <div class="timeline-desk">
            <div class="panel">
                <div class="panel-body">
                    <span class="arrow-alt"></span>

                    <span class="timeline-icon light-green">
                        <i class="fa fa-sort-amount-asc"></i>
                    </span>
                    <span class="timeline-date">07:49 pm</span>
                    <h1 class="light-green">10 June | Friday</h1>
                    <p>John Doe added new milestone <span><a class="light-green" href="#">Raman</a></span> Lorem ipsum dolor sit amet consiquest dio</p>
                </div>
            </div>
        </div>
    </div>

    <div class="timeline-item alt">
        <div class="text-right">
            <div class="time-show">
                <a class="btn btn-danger" href="#">Yesterday</a>
            </div>
        </div>
    </div>
    <div class="timeline-item">
        <div class="timeline-desk">
            <div class="panel">
                <div class="panel-body">
                    <span class="arrow"></span>
                    <span class="timeline-icon yellow">
                        <i class="fa fa-comments-o"></i>
                    </span>
                    <span class="timeline-date">3:20 pm</span>
                    <h1 class="yellow">4:30</h1>
                    <p>Lorem ipsum dolor sit amet consiquest dio<span><a class="yellow" href="#"> Dio</a></span> </p>

                </div>
            </div>
        </div>
    </div>
    <div class="timeline-item alt">
        <div class="timeline-desk">
            <div class="panel">
                <div class="panel-body">
                    <span class="arrow-alt"></span>

                    <span class="timeline-icon ">
                        <i class="fa fa-download"></i>
                    </span>
                    <span class="timeline-date">06:54 pm</span>
                    <h1 class="">3:45</h1>
                    <p>Lorem ipsum dolor sit amet consiquest dio</p>
                </div>
            </div>
        </div>
    </div>

    <div class="timeline-item">
        <div class="timeline-desk">
            <div class="panel">
                <div class="panel-body">
                    <span class="arrow"></span>

                    <span class="timeline-icon blue">
                        <i class="fa fa-user-md"></i>
                    </span>
                    <span class="timeline-date">08:37 pm</span>
                    <h1 class="blue">12 June | Sunday</h1>
                    <p>John Doe added new milestone <span><a href="#" class="blue">dolor</a></span> Lorem ipsum dolor sit amet consiquest dio</p>
                </div>
            </div>
        </div>
    </div>
    <div class="timeline-item alt">
        <div class="text-right">
            <div class="time-show">
                <a class="btn btn-danger" href="#">3 January 2014</a>
            </div>
        </div>
    </div>

    <div class="timeline-item alt">
        <div class="timeline-desk">
            <div class="panel">
                <div class="panel-body">
                    <span class="arrow-alt"></span>

                    <span class="timeline-icon ">
                        <i class="fa fa-download"></i>
                    </span>
                    <span class="timeline-date">08:42 pm</span>
                    <h1 class="">12 March | Friday</h1>
                    <p>dolor sit amet consiquest dio</p>
                </div>
            </div>
        </div>
    </div>

    <div class="timeline-item">
        <div class="timeline-desk">
            <div class="panel">
                <div class="panel-body">
                    <span class="arrow"></span>

                    <span class="timeline-icon red">
                        <i class="fa fa-user-md"></i>
                    </span>
                    <span class="timeline-date">09:27 pm</span>
                    <h1 class="red">6:47</h1>
                    <p>John Doe added new milestone <span><a href="#" class="red">Amet</a></span> Lorem ipsum dolor sit amet consiquest dio</p>
                </div>
            </div>
        </div>
    </div>
  </div>
