<div class="head-title col-md-12">
  <div class="menu-switch"><i class="fa fa-bars"></i></div>
  <div class="row"> 
    <div class="col-md-12"> 
      <ul class="pull-left col-md-4">
        <li class="hidden-xs">
          <input type="text" placeholder="Search" class="form-control page-search">
        </li>
      </ul>
    </div>
  </div>
</div>