h1, h2, h3, h4, h5, h6{
  font-family: 'Roboto';
  font-weight: 400;
}
.head-title{
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
#main{
  position: absolute;
  top: 81px;  
  width: 100%;
}

.main-content {
  left: 260px;
  height: auto;
  position: absolute;
  top: 0;
  background-color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.098039) 0px 1px 2px 0px;
  padding-top: 20px;
  padding-bottom: 40px;
}

#nav.col-md-2{
  position: fixed;
  top: 81px;
  left: 0; 
  background: #FFFFFF;
  width: 230px;
  padding-right: 0;
  padding-left: 0;
  height: 100%;
  box-shadow: 0 1px 1px rgba(236, 236, 236, 0.7);
}
ul.navigation {
  padding: 10px 20px;
}

ul.navigation > li {
  position: relative;
  margin-bottom: 3px;
}

ul.navigation > li > a{
  color: #222222;
  display: block;
  width: 100%;
  height: 100%;
  padding: 7px 14px;
}

ul.navigation > li > a > i{
  margin-right: 10px;
}

ul.navigation > li > a.active {
  background: rgba(1,95,155, .95);
  color: #FFF;
}

ul.navigation > li > a:hover{
  text-decoration: none;
  background: rgba(0,74,120,.95);
  color: #FFF; 
}

p {
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 16px;
}