.media ul li.item   {
  list-style: none;
  margin-bottom: 20px;
}
.media-item{
  position: relative
}
.media .item img{
  width: 100%;
  border-radius: 2px;
}

.media h3{
  margin-top: 20px;
  line-height: 20px;
  font-size: 18px;
}

.item .time, .item .size{
  font-family: 'Roboto';
  font-size: 11px;
  font-weight: 100;
  position: absolute;
  top: 81px;
  right: 3px;
  background: rgba(0, 0, 0, 0.65);
  color: #FFFFFF;
  padding: 0 4px;
}

.item.on-set .time, .item.on-set .size{
  display: none;
}
.item .actions-btns{
  display: none;
  position: absolute;
  top: 75px;
  right: 0px;
  width: 50px;
}
.actions-btns span{
  cursor: pointer;
}
.item.on-set .actions-btns{
  display: block;
}

.item .tooltip{
  width: 113px;
  font-family: 'Roboto';
  font-weight: 400;
}

.media .screenshot{
  padding-left: 0;
}

.media-item img{
  width: 100%;
}

.row .item{
  min-height: 300px;;
}

.fa.fa-movie:before{
  content: "\f008";
}

.fa.fa-song:before {
  content: "\f001";
}
.media-icon .fa{
  border-radius: 50%;
  text-align: center;
  font-size:  20px;
  width: 32px;
  height:32px;
  padding-top: 5px;
  padding-right: 1px;
  padding-left: 0;
}

.timeline-player{
  margin-top: 5px;
  margin-bottom: 10px;
  background: rgba(0,0,0,0.12);
  /*border-bottom: 1px solid rgba(0,0,0,0.22);*/
  /*border-top: 1px solid rgba(0,0,0,0.22);*/
}

.timeline-player .media-image{
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.timeline-player .media-image img{
  height: 100%;
}
.timeline-player .col-md-12{
  padding: 0;
}

.timeline-player .media-play{
  width: 199px;
  height: 100px;
}

.timeline-player .media-type{
  width: 50px;
  height: 50px;
  font-size: 35px;
}
.timeline-player h4{
  margin-bottom: 5px;
}
.timeline-player span{
  color: #787B7F;
}

.timeline-player .media-info{
  border-right: 1px solid rgba(0,0,0,0.22);
}